@import url('./transition/index.less');
:root {
    /* 标题字段大小 */
    --app-title-size: 16px;
    /* 顶部栏高度 */
    --app-header-height: 64px;
    /* 一级侧边栏 */
    --app-slidebar-width: 200px;
    /* 系统统一间距 */
    --app-margin: 20px;

  }